<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body >
	<header class="app-header" th:fragment="cabecalho">
      <a class="app-header__logo" >Projeto</a>
      <a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"></a>
      <div class="app-nav">
           <div class="app-sidebar__user-avatar"><img class="app-sidebar__user-avatar" src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/48.jpg" alt="User Image"></div>
           <p style="float:right; padding-top: 15px; padding-right: 40px; color: #fff " th:text="${usuario_logado.getUsuario().getUsername()}">Francisco Sérgio</p>
           <a style="float:right; padding-top: 15px; color: #212529; text-decoration: none;" th:href="@{/logout}"><i class="fa fa-sign-out fa-lg"></i> Logout</a>
      </div>
	</header>
</body>
</html>

